* {box-sizing:border-box}

/* container til slideshow*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none; /* gjemmer bildene til defualt */
  animation-name: fade;
  animation-duration: 2s;
}


@keyframes fade { /*bildene skal ha en fading overgang*/
  from {opacity: .4}
  to {opacity: 1}
}
